
@model  MySiteWebMVC.Models.AnectodaViewModel

@section ViewCSS{
	<link rel="stylesheet" href="~/css/anectoda.css" />

	<title>Principal</title>
}


<div class="conteins">

	<div class="body">   
        <div class="div-body-img-p">
        @*<img src="/IMG/upqroo.png" alt="" class="div-body-img-01">*@
        <p class="div-body-img-p">Antes, volvía a casa de la escuela tomando dos autobuses. Bajé del primero, olvidando mi teléfono y las llaves en el asiento delantero. Esperé al segundo autobús, subí, me dirigí a mi asiento delantero favorito y vi mis pertenencias allí, cuya pérdida ni siquiera noté. Resultó que el autobús cambió de dirección y de conductor. Todavía sigo en estado de shock.   </p>
      </div>
    </div>
</div>

 <img class="frame" src="https://i.pinimg.com/564x/9b/35/03/9b35039eff04c41eec67e98c7aff2969.jpg" alt="">