@model  MySiteWebMVC.Models.HomeViewModel

@section ViewCSS{
	<link rel="stylesheet" href="~/css/homework.css" />

	<title>Catalogo de Productos</title>
}

@*http://placeimg.com/400/400/tech*@

<script
      src="https://kit.fontawesome.com/887a835504.js"
      crossorigin="anonymous"
    ></script>

    <div id="general">
  
      <div id="body">
        <div class="containerueda">
          <div class="slider">
            <div class="slider_content">
              <img src="https://i.pinimg.com/564x/92/3b/24/923b2475de5444869fb4daeddf8f4707.jpg" alt="" />
              <h3>Hollow Knight</h3>
            </div>
            <div class="slider_content">
              <img
                src="https://i.pinimg.com/564x/b7/4e/7a/b74e7a2ecedc1603575af8301cecb30e.jpg"
                alt=""
              />
              <h3>Bioshock 1</h3>
            </div>
            <div class="slider_content">
              <img src="https://i.pinimg.com/564x/b9/a5/b5/b9a5b5118e96523c5e79ac972306b6f7.jpg" alt="" />
              <h3>Bioshock 2</h3>
            </div>
            <div class="slider_content">
              <img src="https://i.pinimg.com/564x/63/04/2f/63042f7b8f161faa20fce6b4488ec528.jpg" alt="" />
              <h3>Bioshock Infinite</h3>
            </div>
          </div>
          <div class="controls">
            <div class="control prev">
              <i class="fa-solid fa-angle-left"></i>
            </div>
            <div class="control next">
              <i class="fa-solid fa-angle-right"></i>
            </div>
          </div>
        </div>
      </div>

      @section Scripts{
	<script src="/js/homework.js"></script>
}

      <script src="/js/homework.js"></script>
    </div>